@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>South Chandler Cycling</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to South Chandler Cycling Tracker Page</h2>
        <p>
            This application allows for virtual ride sweeper,
            as well as buddy finder, and "Is My husband Dead?" functions
        </p>
    </div>
    <div class="col-md-4">
        <h2>Virtual Ride Sweeper</h2>
        <p>Allows a Ride leader to locate any lost riders.</p>
        <p>This can be done by any Ride Leader for amy member of the ride</p>
    </div>
    <div class="col-md-4">
        <h2>Buddy finder</h2>
        <p>Allows a rider to locate where his riding buddies are in the event that they get</p>
        <p>Split up or otherwise lost.  Handy when riding in very large events.</p>
    </div>
    <div class="col-md-4">
        <h2>Is my Husband Dead?</h2>
        <p>Allows one spouse to check the whereabouts of her cycling hubby.</p>
        <p>Guys be sure your actually out riding and not hanging out at the local tavern.</p>
        <p>Big Brother is watching.</p>
    </div>
</div>